* {
  color: #000;
}

ion-header {
  ion-toolbar {
    --background: #fff;

    ion-title {
      color: #000;
      text-align: center;
    }

    ion-back-button {
      color: #000;
      position: absolute;
    }
  }
}

ion-content {
  --background: #fff;

  .register {
    .input {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 0.5em;
      padding: 1em;

      input {
        background: #cecece;
        color: #000;
        height: 60px;
        border-radius: 15px;
        outline: none;
        border: none;
        padding: 0 1em 0 1em;
      }
    }

    ion-button {
      --background: #5260ff;
      --border-radius: 20px;
      height: 60px;
      padding: 0 1em 0 1em;
    }
  }

  .historial{
    // border: 2px solid red;
    ion-card{
      --background: #e3e3e3;
      display: grid;
      grid-template-columns: 50% 50%;
      
      ion-card-subtitle{
        color: #000;
        display: flex;
        justify-content: center;
      }
      
      .title {
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
