<ion-content>

   <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
  <img src="../../assets/img/wave.svg" alt="" />
  <div class="header">
    <h1>¡Hola!</h1>
    <div class="title">
      <h1>Tus <span> vehículos </span></h1>
    </div>
  </div>

  

  <div class="card">
    <div class="profilevehicle" *ngFor="let item of listVehiculosForId" [routerLink]="['/vehicleprofile/'  + item.id_vehiculo]">
      <ion-card >
        <img src="../../assets/img/coche.png" alt="" />

        <ion-card-content>
          <ion-card-subtitle>{{item.marca}}</ion-card-subtitle>
          <ion-card-title>{{item.modelo}}</ion-card-title>
        </ion-card-content>
        
      </ion-card>

    </div>

    <div class="error">
      <h1>{{message}}</h1>
    </div>
  </div>

  <ion-fab horizontal="center">
    <div class="ion-add-car">
      <ion-button routerLink="/registervehicle">Añadir</ion-button>
    </div>
  </ion-fab>
</ion-content>
