ion-header {
  ion-toolbar {
    --background: #ffff;

    ion-back-button {
      color: #000;
      position: absolute;
    }

    ion-title {
      color: #000;
    }
  }
}

ion-content {
  --background: #ffff;

  ion-card {
    margin-top: 2em;
    border-radius: 13px;
    background: #e0e0e0;
    box-shadow: 7px 7px 16px #707070, -7px -7px 16px #ffffff;

    ion-card-header {
      position: relative;
      ion-buttons {
        position: absolute;
        right: 0.5em;
        font-size: 1.8em;
        color: #cf3c4f;
      }
      ion-card-title {
        font-size: 1.4em;
        color: #000;
      }
    }
  }

  .error{
    border: 2px solid;
    width: 100%;

    h1{
        width: 100%;
        color: #000;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }
}
