<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ajustes"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Reportes del usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of reportes" (click)="selectedReportId = item.id_reportes">
    <ion-card-header>
      <!-- <ion-buttons>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-buttons> -->
      <ion-card-subtitle class="title"
        >{{ formatDate(item.fecha_suceso) }}</ion-card-subtitle
      >
      <ion-card-title>{{item.descripcion}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="error">
    <h1>{{message}}</h1>
  </div>
</ion-content>
