<ion-app *ngFor="let item of infoVehiculo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>{{item.modelo}}</ion-title>
      <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon> 
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="vehicule">
      <img src="../../assets/img/carros.png" alt="" />
  
      <ion-card-title class="ion-text-center">{{item.placa}}</ion-card-title>
      <ion-card-header class="infovehiculo">
        <ion-card-content>
          <ion-card-title><h2>Marca</h2></ion-card-title>
          <ion-card-subtitle>{{item.marca}}</ion-card-subtitle>
  
          <ion-card-title><h2>Color</h2></ion-card-title>
          <ion-card-subtitle>{{item.color}}</ion-card-subtitle>
        </ion-card-content>
        
        <ion-card-content>
          <ion-card-title><h2>Modelo</h2></ion-card-title>
          <ion-card-subtitle>{{item.modelo}}</ion-card-subtitle>
  
          <ion-card-title><h2>Tipo de vehículo</h2></ion-card-title>
          <ion-card-subtitle>{{item.tipo_vehiculo}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  
    <ion-card class="fechayhora">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Fecha y hora de entrada y salida.
        </ion-card-title>
  
        <ion-card-content class="entrada">
          <div class="profilevehicle">
            <ion-card-title><h1>Fecha de entrada</h1></ion-card-title>
            <input type="date" placeholder="AA-MM-DD" name="fecha_ingreso" [(ngModel)]="fecha_ingreso">
          </div>
  
          <div class="profilevehicle">
            <ion-card-title><h1>Hora de entrada</h1></ion-card-title>
            <input type="time" placeholder="HH:MM" name="hora_ingreso" [(ngModel)]="hora_ingreso">
          </div>
  
          <div class="profilevehicle">
            <ion-card-title><h1>Fecha de salida</h1></ion-card-title>
            <input type="date" placeholder="AA-MM-DD" name="fecha_salida" [(ngModel)]="fecha_salida">
          </div>
  
          <div class="profilevehicle">
            <ion-card-title><h1>Hora de salida</h1></ion-card-title>
            <input type="time" placeholder="HH:MM" name="hora_salida" [(ngModel)]="hora_salida">
          </div>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  
    <ion-card (click)="SaveEntradaSalida()">
      <ion-card-header class="save">
        <ion-card-title>Guardar</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>
  
</ion-app>