ion-content {
  --background: #fff;
}

ion-tabs {
  ion-tab-bar {
    --background: #d9d9d9;
    width: 90% !important;
    max-width: 50vw !important;
    border-radius: 10px;
    height: 66px;
    max-height: 36px;
    border: unset;
    margin-bottom: 1.5rem !important;
    margin: auto;

    ion-tab-button {
      font-weight: 600;
      letter-spacing: 1px;
    }

    ion-icon {
      --color: #494949;
    }
  }
}

.tab-selected {
  transition: 0.3s;
  max-height: 100px;
  width: 40px;
  border-radius: 10px;
  color: #fff;
  background: #63199f;
}
