<ion-content>
  <div class="header">
    <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
    <h1>Agrega tu vehículo</h1>
  </div>
  <form class="form">
    
    <ion-item class="item">
      <ion-label>Tipo de vehiculo</ion-label>
      <ion-select aria-label="vehiculos" interface="action-sheet"placeholder="Seleccionar" (ionChange)="setValueVehiculo()" [(ngModel)]="vehiculoSelect" name="vehiculo">
        <ion-select-option  *ngFor="let item of tipo_vehiculo" [value]="item">{{ item }}</ion-select-option>
      </ion-select>
    </ion-item>

    <input type="text" placeholder="Marca del vehiculo" autocomplete="off" [(ngModel)]="marca" name="carro" (input)="convertirLetras()"/>
    <input type="text" placeholder="Modelo del vehiculo" autocomplete="off" [(ngModel)]="modelo" name="modelo" (input)="convertirLetras()"/>
    <input type="text" placeholder="Placa del vehiculo" autocomplete="off" [(ngModel)]="placa" name="placa" (input)="convertirLetras()" maxlength="7" [disabled]="vehiculoSelect === 'Bicicleta'"/>
    <input type="text" placeholder="Color del vehiculo" autocomplete="off" [(ngModel)]="color" name="color" (input)="convertirLetras()"/>

    <ion-card class="fechayhora">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Datos de la aseguradora.
        </ion-card-title>

        <ion-card-content class="entrada">
          <div class="profilevehicle">
            <ion-item class="aseguradora">
              <ion-label>Aseguradora</ion-label>
              <ion-select aria-label="aseguradoras" interface="action-sheet" placeholder="Seleccionar" (ionChange)="setValueAseguradora()" [(ngModel)]="aseguradoraSelect" name="aseguradora">
                <ion-select-option  *ngFor="let item of aseguradora" [value]="item">{{ item }}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div class="profilevehicle">
            <ion-card-title><h1>Fecha de expedición</h1></ion-card-title>
            <input type="date" autocomplete="off" placeholder="AA-MM-DD" [(ngModel)]="fecha_expedicion" (ngModelChange)="calcularFechaVencimiento()"  name="expedicion"/>
          </div>

          <div class="profilevehicle">
            <ion-card-title><h1>Fecha de vencimiento</h1></ion-card-title>
            <input type="date" autocomplete="off" placeholder="AA-MM-DD" [(ngModel)]="fecha_vencimiento" name="vencimiento" readonly/>
          </div>

          <ion-card-subtitle>Recuerda que es obligatorio tener una aseguradora para tu vehículo.</ion-card-subtitle>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </form>

  <div class="footer">
    <ion-button shape="round" (click)="postVehiculo()" > Listo </ion-button>
  </div>
</ion-content>

