<ion-content>
  <div class="header">
    <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
    <h1>Agrega tu vehiculo</h1>
  </div>
  <form class="form">
    <ion-item>
      <ion-label>Tipo de vehiculo</ion-label>
      <ion-select aria-label="vehiculos" interface="action-sheet"placeholder="Seleccionar" (ionChange)="setValueVehiculo()" [(ngModel)]="vehiculoSelect" name="vehiculo">
        <ion-select-option  *ngFor="let item of tipo_vehiculo" [value]="item">{{ item }}</ion-select-option>
      </ion-select>
    </ion-item>

    <input type="text" placeholder="Marca del vehiculo" autocomplete="off" [(ngModel)]="marca" name="carro" (input)="convertirLetras()"/>
    <input type="text" placeholder="Modelo del vehiculo" autocomplete="off" [(ngModel)]="modelo" name="modelo" (input)="convertirLetras()"/>
    <input type="text" placeholder="Placa del vehiculo" autocomplete="off" [(ngModel)]="placa" name="placa" (input)="convertirLetras()" maxlength="7"/>
    <input type="text" placeholder="Color del vehiculo" autocomplete="off" [(ngModel)]="color" name="color" (input)="convertirLetras()"/>

    <ion-card class="fechayhora">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Datos de la aseguradora.
        </ion-card-title>

        <ion-card-content class="entrada">
          <div class="profilevehicle">
            <ion-card-title><h1>Nombre de la aseguradora</h1></ion-card-title>
            <input type="text" autocomplete="off" placeholder="Ejem: SURA" [(ngModel)]="nombre_aseguradora" name="nombre" (input)="convertirLetras()" />
          </div>

          <div class="profilevehicle">
            <ion-card-title><h1>Fecha de expedicion</h1></ion-card-title>
            <input type="date" autocomplete="off" placeholder="AA-MM-DD" [(ngModel)]="fecha_expedicion" (ngModelChange)="calcularFechaVencimiento()"  name="expedicion"/>
          </div>

          <div class="profilevehicle">
            <ion-card-title><h1>Fecha de vencimiento</h1></ion-card-title>
            <input type="date" autocomplete="off" placeholder="AA-MM-DD" [(ngModel)]="fecha_vencimiento" name="vencimiento" readonly/>
          </div>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </form>

  <div class="footer">
    <ion-button shape="round" (click)="postVehiculo()"> Listo </ion-button>
  </div>
</ion-content>



<!--     Seguros Bolívar
    Allianz Colombia
    Liberty Seguros
    Seguros Sura
    Mapfre Colombia
    Seguros Mundial
    Axa Colpatria
    Seguros del Estado
    QBE Seguros
    Zurich Seguros
    La Equidad Seguros
    Seguros Generales Suramericana
    Positiva Seguros
    Seguros Alfa
    Chubb Seguros
    HDI Seguros
    Seguros Falabella
    Generali Colombia
    RSA Seguros
    Seguros Coomeva
    Seguros Éxito
    Seguros Patria
    Seguros Comerciales Bolívar
    Seguros del Magdalena
    Seguros Carulla
    Seguros La Previsora
    Seguros GNB Sudameris
    Seguros Confianza
    Seguros de Vida Alfa
    SBS Seguros -->
