<ion-content>
  <div class="header">
    <h1>
      ¿Ya registraste tu
      <br />
      vehículo?
    </h1>
  </div>
  <div class="content">
    <p>
      Para hacer uso de los servicios de la app S.A.S
      <br />
      debes tener en tu propiedad un vehiculo.
      <br />
      <br />
      ¿Cuentas con uno?.
      <br />
      <br />
      Si cuentas con uno, ¡Vamos a registrarlo!.
    </p>
  </div>
  <div class="button">
    <ion-button shape="round" routerLink="/registervehicle">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>

  <img src="../../assets/img/Stacked Wave.svg" alt="" />
</ion-content>
