<ion-content [fullscreen]="true" class=" ">
  <div class="style"></div>
  <div class="welcome">
    <img src="../../assets/img/navigacion.svg" alt="" />
  </div>
  <ion-text>
    <h1>Bienvenido.</h1>
    <p>
      Inicia sesión en SorcenPx. <br/>
      Si no dispones de una cuenta aún, te animamos a crear una para disfrutar de nuestros servicios.
    </p>
  </ion-text>

  <div class="actions">
    <div class="login-buttons">
      <ion-button class="login" routerLink="/login">Inicia sesión</ion-button>
      <ion-button expand="block" fill="clear" routerLink="/register">Registrate</ion-button>
    </div>
  </div>
</ion-content>
