ion-content {
  --background: #fff;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    // border: 2px solid red;

    .bg {
      margin-top: .3em;
      width: 98%;
      border-radius: 10px;
      // border-radius: 30% 70% 71% 29% / 43% 32% 68% 57% ;
      padding: 6em 0 0 0;
      height: 35vh;
      background: #63199f;

      
      h1 {
        position: relative;
        // top: 38%;
        // left: 50%;
        color: #fff;
        font-weight: bold;
        font-size: 2.5em;
        text-align: center;
        // transform: translate(-50%, -50%);
      }

      p {
        // top: 38%;
        // left: 50%;
        color: #fff;
        position: relative;
        text-align: center;
        // transform: translate(-50%, -50%);
      }
    }
  }
  .content {
    border: 2px solid rgb(255, 255, 255);
    height: 31em;
    margin-top: 1em;
    h1 {
      color: #63199f;
      font-weight: bold;
      margin-top: 0;
      text-align: center;
    }

    ion-card {
      --background: #ffffff;

      ion-card-subtitle {
        --color: #000;
        font-size: 17px;
        padding: 0 0 0 0.3em;
        font-weight: bold;
      }

      ion-card-content {
        input {
          margin-bottom: 1em;
          border-radius: 10px;
          background: #eeeeee;
          width: 100%;
          height: 4em;
          padding: 0.5em;
          border: none;
          outline: none;
          color: rgb(70, 70, 70);
        }

        input::placeholder {
          color: #383838;
          font-weight: 700;
        }
      }
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;

    ion-card {
      height: 8em;
      display: grid;
      place-content: center;
      ion-card-header {
        text-align: center;
        ion-icon {
          // text-align: center;
          font-size: 2em;
          color: #fff;
        }
      }
    }
  }

  .save {
    background: #2dd36f;
    // text-align: center;
    ion-card-header {
      ion-card-title {
        font-size: 18px;
        color: #fff;
      }
    }
  }

  .logout {
    background: #ff4961;
    // border: 2px solid red;
    // text-align: center;
    ion-card-header {
      ion-card-title {
        font-size: 18px;
        color: #fff;
      }
    }
  }

  .footer {
    color: #000;
    border: 2px solid #ffff;
    display: grid;
    place-items: center;

    ion-button {
      position: fixed;
      bottom: 0.5em;
      width: 8em;
      display: grid;
      place-items: center;
      height: 3pc;
      color: #fff;
      --border-radius: 8px;
      --background: #63199f;
      // padding: 0 0 0 0.3em;
      font-size: 1em;
    }
  }
}

@media only screen and (max-height: 668px) {
  ion-content {
    .header {
      .bg {
        h1 {
          font-size: 1.6em;
        }
      }
    }

    .content {
      // height: 32em;
      margin-top: 1em;
      h1 {
        margin-top: 0;
        font-size: 1.3em;
      }
      ion-card {
        ion-card-header {
          ion-card-title {
            font-size: 18px;
          }
        }
        ion-card-content {
          input {
            height: 2em;
            padding: 0.5em;
            border: none;
            outline: none;
          }

          input::placeholder {
            color: #000;
          }
        }
      }
    }

    .contra {
      height: 12em;

      form {
        display: grid;
        gap: 0.6em;
      }
    }

    .footer {
      color: #000;
      display: grid;
      place-items: center;

      ion-button {
        width: 7em;
        height: 3pc;
        font-size: 0.5em;
      }
    }
  }
}
