<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ajustes"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tus reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of reportesUser" (click)="selectedReportId = item.id_reportes">
    <ion-card-header>
      <ion-card-subtitle class="title"
        >{{ formatDate(item.fecha_suceso) }}</ion-card-subtitle
      >
      <ion-card-title>{{item.descripcion}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
